<mat-sidenav-container>
    <mat-sidenav #sidenav (openedChange)="log($event)"  [(opened)]="opended" mode="side">
        Start sidenav content
    </mat-sidenav>
    <mat-sidenav-content>

    <div>
        <button type="button" (click)="opended = !opended" class="btn btn-default">{{opended ? 'Close': 'Open'}}</button>

        <button type="button" (click)="sidenav.open()" class="btn btn-default">Open</button>

        <button type="button" (click)="sidenav.close()" class="btn btn-default">Close</button>


        <button type="button" (click)="sidenav.toggle()" class="btn btn-default">Toggle</button>


    </div>
    </mat-sidenav-content>


</mat-sidenav-container>



<div class="container">
  <div class="MainContainer">
    <div class="row">
      <div class="col-4">


      </div>
      <div class="col-4">

      </div>
      <div class="col-4">


      </div>
    </div>
  </div>
</div>
