<mat-accordion multi="false">
  <mat-expansion-panel>
  <mat-expansion-panel-header>
    <!-- Title for the Panel -->
    <mat-panel-title>
      Endpoint Settings
    </mat-panel-title>
    <!-- Title for the Panel -->
    <!-- description for Panel -->
    <mat-panel-description>
      Advance Settings
    </mat-panel-description>
    <!-- description for Panel -->
  </mat-expansion-panel-header>
  <!-- Form Content  -->
  <p>Test Data</p>
    <!-- Form Content-->
    <mat-action-row>
      <button mat-button>Enroll Now</button>
    </mat-action-row>
</mat-expansion-panel>


<mat-expansion-panel>
    <mat-expansion-panel-header>
      <!-- Title for the Panel -->
      <mat-panel-title>
        Generator Settings
      </mat-panel-title>
      <!-- Title for the Panel -->
      <!-- description for Panel -->
      <mat-panel-description>
        Advance Settings
      </mat-panel-description>
      <!-- description for Panel -->
    </mat-expansion-panel-header>
    <!-- Form Content  -->
    <p>Test Data</p>
      <!-- Form Content-->
  </mat-expansion-panel>
</mat-accordion>



<div class="container">
  <div class="MainContainer">
    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-4">

      </div>
      <div class="col-4">

      </div>
    </div>
  </div>
</div>
